@charset "UTF-8";



.hotel_container .main_banner {
	
	min-height: 430px;
	background-color: #070B19;
	
}

.hotel_container .main_banner h2 {

	color: white;
	text-align: center;
	
}

.hotel_container .main_banner .title {

	padding-top: 50px;
	
}



.hotel_container .recommend .items_rec {
	
	margin-top: 50px;
}

.item_title {
	
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

.circle_theme {
	
	border-radius: 50%;
	
	background-color:#86efef;
	width:210px;
	height:210px;
	text-align:center;
	margin:0 auto;
	font-size:12px;
	vertical-align:middle;
	line-height:150px;
}

.coupon_banner {
	
	background-color: grey;
	min-height: 200px;
	margin-bottom: 150px;
	color: white;
	text-align: center;
}

.will_delete {
	padding-top: 100px;
}

/* hotelDetail */

.hd_container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.ht_image img {
	
	width: 600px;
	height: 470px;
}

.ht_image{
	
	display: inline-block;
}

.hotel_info {
	
	padding-left: 50px;
	display: inline-block;
	
}

.star_img img{
	
	display: inline-block;
	width: 20px;
	height: 20px;
}

.star_scr {

	display: inline-block;
}

.h_hr {
	
	border-bottom: 1px solid #eceff8;
	size: 80px;
	
}

.room_info {
	
	padding-top: 50px;
}

.room_type_box {
	
	background-color: #E6E6E6; 
	min-height: 58px;
	border : 1px solid #BDBDBD;
	
}

.room_type_box::after {
	
	content : "V";
}

.room_type_detail{
	
	display: inline-block;	
	padding-top: 50px;
	
}

.room_img{
	
	display: inline-block;
	
}

.room_img img {
	
	display: inline-block;	
	width: 270px;
	height: 230px;
	padding-left: 20px;
}

.r_name{
	
	display: inline-block;
	padding-left: 40px;
}

.r_option, .r_price, .reservation {
	
	display: inline-block;
	padding-left: 100px;
}

.rev_option {
	
	display: inline-block;
	float: right;
}