<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.ohTravel.AirportMapper">
	
	<!--비행기 List-->
	<select id="airplaneList" resultType="Air_ScheduleDTO">
		SELECT * FROM air_schdeule 
	</select>
</mapper>