<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.ohTravel.Ticket">

	<select id="ticketTotal" resultType="int">
		SELECT COUNT(*) FROM ticket_detail
	</select>

	<!-- 입장권 상품 목록 -->
	<select id="ticketList" parameterType="TicketDTO" resultType="Map" >
		SELECT distinct td.ticket_id, td.city_id, td.ticket_name, td.ticket_child_price, td.ticket_due_date, ti.ticket_rep_img_path, ti.ticket_detail_img_path, ct.city_name,
			   (SELECT FORMAT( IFNULL(AVG(r.rv_rating), 0), 1) FROM review r  WHERE r.rv_real_id = td.ticket_id ) AS ticket_score 
		FROM ticket_detail td
		LEFT JOIN ticket_img ti
		  ON td.ticket_id = ti.ticket_id
		LEFT JOIN  city ct
		  ON td.city_id = ct.city_id
	</select>

	<!-- 입장권 상품 상세 정보 -->
	<select id="ticketDetail" parameterType="TicketDTO" resultType="TicketDTO" >
		SELECT distinct td.*, date_format(td.ticket_due_date, '%Y.%m.%d') AS ticket_due_date, td.ticket_adult_price, td.ticket_child_price, ti.ticket_rep_img_path, ti.ticket_detail_img_path, ct.city_name,
			   (SELECT FORMAT( IFNULL(AVG(r.rv_rating), 0), 1) FROM review r  WHERE r.rv_real_id = td.ticket_id ) AS ticket_score
		FROM ticket_detail td
		LEFT JOIN ticket_img ti
		  ON td.ticket_id = ti.ticket_id
		LEFT JOIN  city ct
		  ON td.city_id = ct.city_id
		WHERE td.ticket_id = #{ticket_id}
	</select>

	<!-- 입장권 예약 insert 문 -->
<!-- 	<insert id="ticketReserve" parameterType="Ticket_rsDTO">
		SELECT ticket_name
		FROM ticket_detail
		WHERE ticket_name = '${ticket_name}';
	
		INSERT INTO ticket_reservation
		VALUES
		((SELECT IFNULL(MAX(#{ticket_order_id} + 1, 1) FROM ticket_reservation tr), #{ticket_id}, #{mem_id}, #{ticket_name}, now(),
		 #{ticket_admission_date}, #{ticket_adult_per}, #{ticket_child_per}, #{ticket_total_price});
	</insert> -->
	
</mapper>
	